/* .wrapper {
  background-image: url("/react_marvel_game/public/assets/images/marvel-logo.jpg");
} */

/* .wrapper {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/269/523/701/marvel-comics-movies-marvel-heroes-iron-man-wallpaper-preview.jpg");
} */

.wrapper {
  background-image: url("https://data1.ibtimes.co.in/cache-img-853-362/en/full/636188/1495113872_marvel.png");
  height: 100vh;
}
